.banner-main {
    background-image: url("/src/assets/images/bank-tree.png");
    background-position: 0 -150px;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    height: 500px;

    @media (min-width: 520px) {
        height: 400px;
    }

    @media (min-width: 845px) {
        height: 530px;
    }

    @media (min-width: 1079px) {
        height: 466px;
        background-position: 0 -149px;
    }

    @media (min-width: 1500px) {
        height: 564px;
    }

    @media (min-width: 1800px) {
        height: 652px;
    }
}

.banner-content {
    background: #FAFAFA;
    position: absolute;
    top: 50px;
    right: 50px;
    width: 300px;
    height: 150px;
    margin: 2rem;
    padding: 10px;
    margin: auto;
    text-align: center;
    align-items: center;

    @media (min-width: 440px) {
        right: -310px;
    }

    @media (min-width: 519px) {
        width: 167px;
    }



    @media (min-width: 1400px) {
        padding: 40px;
    }
}

.subtitle {
    font-weight: bold;
    font-size: 1.2rem;
    line-height: 1.8rem;
    margin: 0;

    @media (min-width: 520px) {
        font-size: 1rem;
    }

    @media (min-width: 720px) {
        font-size: 1.3rem;
    }

    @media (min-width: 1090px) {
        font-size: 1.5rem;
    }

    @media (min-width: 1400px) {
        font-size: 1.7rem;
    }
}

.text {
    margin-bottom: 0;
    font-size: 0.9rem;

    @media (min-width: 720px) {
        font-size: 1.1rem;
    }

    @media (min-width: 1090px) {
        font-size: 1.3rem;
    }

    @media (min-width: 1400px) {
        font-size: 1.5rem;
    }
}